 
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">

        <%= form_with scope: :sessions ,url: sessions_path  ,local: true do |f|%>
            <div class="field">
             <%= f.label :user_name %>
            <div class="ui left icon input">
                <i class="user icon"></i>
                <%= f.text_field :user_name ,placeholder: "enter user name"%>
            </div>
            </div>
            <div class="field">
             <%= f.label :password %>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.text_field :password ,placeholder: "enter password",type:"password"%>
            </div>
            </div>            
            <%= f.submit("Log In" ,class:"ui blue submit button")%>
        <%end%>

      </div>
    </div>
    <div class="middle aligned column">
      <%= link_to 'Sign Up  ', new_user_path ,class:"ui big button"%>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>